<% if params[:controller] == 'about' %>
  <div class = "well">
    <h3>Location Info</h3>
    <ul>
      <li>The Booksstore</li>
      <li>1000 University Ave</li>
      <li>San Francisco, CA, 94131</li>
      <li>Phone: 555-555-5555</li>
      <li>Email: help@thebookstore.com</li>
    </ul>
  </div>
<% end %>
<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
  <div class="list-group">
    <% @categories.each do |category| %>
      <%= link_to category.name, category_path(category.id), class: 'list-group-item' %>
    <% end %>
  </div>
<% end %>